@font-face {
  font-family: "iconfont"; /* Project id 4308818 */
  src: url('iconfont.woff2?t=1707009192315') format('woff2'),
       url('iconfont.woff?t=1707009192315') format('woff'),
       url('iconfont.ttf?t=1707009192315') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-developer:before {
  content: "\e652";
}

.icon-loading:before {
  content: "\e623";
}

.icon-notification:before {
  content: "\e68b";
}

.icon-QQ:before {
  content: "\e886";
}

.icon-email:before {
  content: "\e62c";
}

.icon-delete:before {
  content: "\e601";
}

.icon-comment:before {
  content: "\e7e2";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-heart-fill:before {
  content: "\e84b";
}

.icon-safari:before {
  content: "\e7ee";
}

.icon-android:before {
  content: "\e881";
}

.icon-apple:before {
  content: "\e882";
}

.icon-windows:before {
  content: "\e883";
}

.icon-chrome:before {
  content: "\e884";
}

.icon-os:before {
  content: "\e655";
}

.icon-position:before {
  content: "\e7af";
}

.icon-firefox:before {
  content: "\e605";
}

.icon-browser:before {
  content: "\e757";
}

.icon-edge:before {
  content: "\e610";
}

.icon-pen:before {
  content: "\e600";
}

.icon-wrench:before {
  content: "\e604";
}

.icon-clean:before {
  content: "\e678";
}

.icon-eye:before {
  content: "\e869";
}

.icon-eyeclose:before {
  content: "\e8ff";
}

.icon-warn:before {
  content: "\e849";
}

.icon-astronaut:before {
  content: "\e7c0";
}

.icon-exit:before {
  content: "\e659";
}

.icon-arrow:before {
  content: "\e8ec";
}

.icon-link:before {
  content: "\e69a";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-user:before {
  content: "\e618";
}

.icon-smile:before {
  content: "\e847";
}

.icon-time:before {
  content: "\e848";
}

.icon-message:before {
  content: "\e84a";
}

.icon-folder:before {
  content: "\e85e";
}

.icon-read:before {
  content: "\e861";
}

.icon-home:before {
  content: "\e867";
}

.icon-tags:before {
  content: "\e86e";
}

.icon-success:before {
  content: "\e844";
}

.icon-error:before {
  content: "\e845";
}

.icon-info:before {
  content: "\e846";
}

.icon-github:before {
  content: "\e885";
}

