body {
  min-width: 375px;
  padding-top: var(--header-height-ssm);
  color: var(--font-gray);
}

body.prevent-scroll {
  overflow: hidden;
}

/* cursor */
html {
  cursor: url('/images/common/cursor.png'), auto;
}
a:hover,
button:hover {
  cursor: url('/images/common/pointer.png'), pointer;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border: none;
  /* background: var(--primary-color); */
  /* background: var(--bg-dark-blue); */
  background: linear-gradient(to bottom, #ff5a79, #d45796, #9c5ca0, #655c95, #3c557a, #2f4858);
  border-radius: 10px;
}

@media (min-width: 640px) {
  body {
    padding-top: var(--header-height-sm);
  }
}
@media (min-width: 768px) {
  body {
    padding-top: var(--header-height-md);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
}
