body {
  min-width: 375px;
  min-height: 100vh;
  color: var(--font-gray);
  background: var(--bg-dark-blue);

  --demo-a: #2f2f3e;
}

body.prevent-scroll {
  overflow: hidden;
}

/* cursor */
html {
  cursor: url('/images/common/cursor.png'), auto;
}
a:hover,
button:hover {
  cursor: url('/images/common/pointer.png'), pointer;
}

/* body scroll bar */
body::-webkit-scrollbar {
  width: 5px;
  background-color: #2a2a39;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  border: none;
  background: linear-gradient(to bottom, #2a2a39, var(--primary-color), #2a2a39);
  border-radius: 10px;
}

/* silple scroll bar */
.simple-scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: rgb(195 195 195 / 0.3);
  border-radius: 10px;
}
.simple-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.simple-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.simple-scrollbar::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
.simple-scrollbar::-webkit-scrollbar-thumb {
  border: none;
  background: rgb(195 195 195 / 0.5);
  border-radius: 10px;
}
