@font-face {
  font-family: alimama;
  src: url(/fonts/Alimama_DongFangDaKai_Regular.woff2);
}

.wmde-markdown {
  background-color: transparent;
  font-family: alimama;
}

/* 标题样式 */
.wmde-markdown h1 {
  border-color: rgb(255 255 255 / 0.2);
}

.wmde-markdown h2,
.wmde-markdown h3,
.wmde-markdown h4,
.wmde-markdown h5,
.wmde-markdown h6 {
  border: none;
}

/* 列表样式 */
.wmde-markdown ul,
.wmde-markdown ol,
.wmde-markdown li {
  list-style: disc;
}

/* 代码块样式 */
@media (max-width: 1114px) {
  .wmde-markdown pre {
    width: 60vw;
  }
}
@media (max-width: 1024px) {
  .wmde-markdown pre {
    width: 53vw;
  }
}
@media (max-width: 767px) {
  .wmde-markdown pre {
    width: 85vw;
  }
}
@media (max-width: 640px) {
  .wmde-markdown pre {
    width: 89vw;
  }
}
