@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Common */
  .hover-highlight {
    @apply hover:text-[--primary-color] transition-colors;
  }
  .ellipsis-2-line {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .ellipsis-4-line {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  /* BgTower */
  .second-tower {
    @apply mt-[120vh] xl:mt-[50vh];
  }

  /* MainHeader */
  .header-active-link {
    @apply text-[--primary-color] !important;
    border-bottom: 3px solid var(--primary-color);
  }
  .header-active-sublink {
    @apply text-[--primary-color] bg-gray-100 !important;
  }
  .header-item-link {
    @apply relative flex items-center px-[1.3021vw] py-2.5 text-gray-400 cursor-pointer hover:header-active-link;
  }

  /* HomeContent Card */
  .c-card {
    --card-bg-color: rgb(255 255 255 / 0.1);
    @apply overflow-hidden bg-[--card-bg-color] rounded-[18px] text-gray-200 backdrop-blur-md border border-gray-50/5 shadow shadow-gray-50/10;
  }

  /* HomeMain WordArt */
  .big-word-art {
    @apply text-[#1d1e2c] text-[4.1667vw] font-black text-center rotate-[-8deg] translate-y-[-11vh];
    text-shadow: -0.2083vw 0.2083vw var(--primary-color);
  }
}
