@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inner-layout {
    @apply flex justify-between w-11/12 md:w-5/6 max-w-[1200px] h-full mx-auto;
  }

  .c-card {
    @apply overflow-hidden bg-[#333342cc] rounded-[18px] text-gray-200 border border-gray-600/40 transition-all duration-300 hover:border-gray-600 shadow-xl;
  }

  .content-card {
    @apply bg-[--bg-dark-blue-opacity] sm:rounded-[18px] sm:border border-gray-600/40 hover:border-gray-600 transition-all duration-300 sm:[box-shadow:rgba(255,255,255,0.05)_0px_6px_24px_0px,rgba(255,255,255,0.08)_0px_0px_0px_1px];
  }
}

@layer utilities {
  .hover-highlight {
    @apply hover:text-[--primary-color] hover:border-[--primary-color] transition-colors duration-300;
  }
  .hide-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .hide-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .ellipsis-1-line {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
  .ellipsis-2-line {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .ellipsis-4-line {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
