:root {
  --primary-color: #ff5a79;
  --bg-color-v1: #1f1f2e;
  --bg-color-v2: #d7ddfa;
  --font-color: #8a8b9a;
  --font-color-v2: #abb0c9;
  --header-height: 70px;

  --card-bg-color: #a9a8ccee;
  --card-text-color: #272945;

  /* 自适应断点 */
  --ess: 640px; /* 手机 */
  --ss: 768px; /* 小型平板；大屏手机 */
  --ms: 992; /* 中型平板；大屏手机 */
  --ls: 1200px; /* 大型平板；电脑 */
}
