:root {
  /* bg color */
  --primary-color: #ff5a79;
  --bg-dark-blue: #1f1f2e;
  --bg-light-blue: #d7ddfa;

  /* font color */
  --font-gray: #8a8b9a;
  --font-light-blue: #abb0c9;

  /* header-height */
  --header-height-ssm: 54px;
  --header-height-sm: 61px;
  --header-height-md: 70px;
}
