:root {
  /* bg color */
  --primary-color: #ff5a79;
  --primary-color-dark: #ec516d;
  --bg-dark-blue: rgb(31, 31, 46);
  --bg-dark-blue-deep: rgb(29, 29, 43);
  --bg-dark-blue-opacity: #1f1f2ebe;
  --bg-light-blue: #d7ddfa;

  /* font color */
  --font-gray: #8a8b9a;
  --font-light-blue: #abb0c9;

  /* header-height */
  --header-height-ssm: 54px;
  --header-height-sm: 61px;
  --header-height-md: 70px;
  --ssm-sticky: calc(var(--header-height-ssm) + 20px);
  --sm-sticky: calc(var(--header-height-sm) + 20px);
  --md-sticky: calc(var(--header-height-md) + 20px);
  --ssm-full-height: calc(100vh - var(--header-height-ssm));
  --sm-full-height: calc(100vh - var(--header-height-sm));
  --md-full-height: calc(100vh - var(--header-height-md));
  --ssm-modal-pt: calc(var(--header-height-ssm) + 40px);

  /* btn */
  --btn-gray: #3c3c47;
}
