$content-font-color: #1d1e2c;

.home-main {
  overflow: hidden;
  position: relative;
  height: calc(100vh + 31.25vw);
  background: var(--bg-color-v2);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .title {
    color: $content-font-color;
    font-size: 4.125vw;
    font-weight: 900;
    text-align: center;
    text-shadow: -0.2083vw 0.2083vw var(--primary-color);
    transform: rotate(-8deg) translateY(-11vh);

    .sup {
      text-align: left;
    }
    .center {
      margin: 0.5208vw 0;
      font-size: 9.2917vw;
    }
    .sub {
      text-align: right;
    }

    span {
      display: block;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .astronaut {
    position: absolute;
    bottom: -4vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;

    .astronaut-mask {
      overflow: hidden;
      position: absolute;
      top: 1.8229vw;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 50%;
      height: 50%;

      .img-sta {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }

    .img-astronaut {
      position: relative;
      width: 100%;
    }
  }

  .frame {
    position: relative;

    .img-mask {
      width: 100%;
    }
  }
}

// 根据断点调整宇航员位置
@media (max-width: 1200px) {
  .astronaut {
    bottom: -3vw !important;
  }
}
@media (max-width: 992px) {
  .astronaut {
    bottom: -1.5vw !important;
  }
}
@media (max-width: 768px) {
  .astronaut {
    bottom: 0.5vw !important;
  }
}
@media (max-width: 640px) {
  .astronaut {
    bottom: 3vw !important;
  }
}
