.home-content {
  position: relative;
  z-index: 1;
  top: -2px;
  text-align: center;
  color: var(--font-color-v2);

  .inner {
    display: flex;
    height: 100%;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    .card {
      overflow: hidden;
      background-color: var(--card-bg-color);
      border-radius: 18px;
      box-shadow: 1px 1px 5px rgb(0 0 0 / 0.1);
      color: var(--card-text-color);
    }

    .sidebar {
      position: sticky;
      top: calc(var(--header-height) + 20px);
      width: 240px;
      // height: 200px;
      margin-right: 38px;

      .first-card {
        .avatar {
          padding: 20px 0 0;

          .avatar-wrap {
            overflow: hidden;
            width: 80px;
            height: 80px;
            display: inline-block;
            padding: 1px;
            border-radius: 18px;
            border: 1px solid #46455533;
            box-shadow: 0px 1px 4px rgb(0 0 0 / 0.08);

            img {
              width: 120%;
              overflow: hidden;
              border-radius: 18px;
            }
          }
        }

        .myname {
          font-size: 20px;
          line-height: 30px;
        }

        .motto {
          font-size: 12px;
          opacity: 0.7;
        }
      }
    }

    .main {
      flex: 1;
      height: 2000px;
    }
  }
}
